

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 0px 0px;
  }
  
  .contact .info-wrap {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .contact .info {
    background: #fff;
  }
  
  .contact .info i {
    font-size: 20px;
    color: #ffff;
    float: left;
    width: 44px;
    height: 44px;
    background: #ff0000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #433f39;
    font-family: "Poppins", sans-serif;
  }
  
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #7a7368;
  }
  
  .address {
    padding:  10px 0px 20px;
  }

  .email {
    padding:  8px 0px 25px;
  }

  .phone {
    padding:  8px 0px 25px;
  }

  .clock {
    padding: 8px 0px 20px;
  }
  
  .contact .form {
    width: 100%;
    padding: 30px 0 40px 0;
    background: #fff;
  }
  
  .contact .form .form-group {
    padding-bottom: 8px;
  }
  
  .contact .form input,
  .contact .form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .form input {
    height: 44px;
  }
  
  .contact .form textarea {
    padding: 10px 12px;
  }
  
  .contact .form button {
    background: #ff0000;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .contact .form button:hover {
    background: #c20000;
  }