
    @media (max-width: 768px) {
      .carousel h2 {
        font-size: 28px;
      }
    }
  
    @media (min-width: 1024px) {
      .section-title p {
        width: 50%;
      }
    }

    @media (min-width: 1024px) {
  
      .carousel .carousel-control-prev,
      .carousel .carousel-control-next {
        width: 5%;
      }
  
    }
  
    @media (max-width: 992px) {
      .about .member-info {
        margin-bottom: 110px;
      }
    }
  
    @media (min-width: 1024px) {
      .about .member-info {
        background-attachment: fixed;
      }
    }

    @media (max-width: 992px) {
      .chefs .member {
        margin-bottom: 110px;
      }
    }
    
    @media (min-width: 1024px) {
      .chefs {
        background-attachment: fixed;
      }
    }