
.shop{
    margin: 20px;
    padding: 170px 20px;
  }
  .shop .shop-item {
    border-radius: 5px;
    border: 1px solid #eef0ef;
  }
  .shop .shop-content {
    padding: 15px;
  }
  .shop .shop-content h3 {
    font-weight: 700;
    font-size: 20px;
  }
  .shop .shop-content h3 a {
    color: #37423b;
    transition: 0.3s;
  }
  .shop .shop-content h3 a:hover {
    color: #5fcf80;
  }
  .shop .shop-content p {
    font-size: 14px;
    color: #777777;
  }
  .shop .shop-content h4 {
    font-size: 14px;
    background: #5fcf80;
    padding: 7px 14px;
    color: #fff;
    margin: 0;
  }
  .shop .shop-content .price {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    color: #37423b;
  }